body {
    background-color: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
    animation: fade 3s;
}

@keyframes fade {
    0% {
        color: rgba(238, 238, 238, 0);
    }
    100% {
        color: rgba(238, 238, 238, 1);
    }
}
