body {
    background-color: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
}